[Desktop Entry]
Name=Laboratory
GenericName=Audio Plugin
Comment=JUCE Audio Application
Exec=Laboratory
Icon=de.philabs.laboratory
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Music;
Keywords=audio;music;synthesizer;plugin;
StartupNotify=true
